* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    overflow-x: hidden; /* Skjuler vandret scroll og indhold, der stikker udenfor */
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8dd9f; 
}

ul {
    list-style: none;
    
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #000000;
}

h1 {
    margin-bottom: 20px;
    font-family: DM Serif Display;
    font-size: 56px;
    font-weight: 400;
    line-height: 1.1;
    color: black;
}

h1.hvid {
    color: white; 
}

p {
    color: black;
    font-size: 16px;
    line-height: 1.1;
}

p.hvid {
    color: white;
}

.left-side p {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: #000000; 
    line-height: 1.6;
}

.box {
    padding: 0 10% 0 10%;
    
}
.box-8 p, .box-8 ul {
    font-size: 14px;
}

.box-8 a {
    color: #ffffff; 
}

.btn {
    white-space: nowrap;
    background-color: #000000; 
    color: #ffffff; 
    padding: 12px 24px;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
}

.btn2:hover {
    background-color: #000000; 
    color: #ffffff; 
}

.kontakt {
    background-color: #000000; 
    color: #ffffff; 
    padding: 12px 24px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
    display: inline-block; 
    transition: background-color 0.3s ease, color 0.3s ease;
}
.kontakt:hover {
    background-color: #ffffff; 
    color: #000000; 
}


/* BOX1 */
/* box-1 styling */
.box-1 {
    width: 100%;
    background-color: #ffffff;  
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    height: 120px; 
}
/* Logo styling */
.logo {
    flex: 1; 
   
}
.logo img {
    width: auto; 
    height: auto;
}
/* Menu styling */
.menu {
    flex: 3;
    flex-wrap: wrap;
    display: flex;
    justify-content: center; 
    gap: 20px; 
}
.menu ul {
    display: flex;
    
}
.menu a {
    font-size: 16px;
    
}
/* Button styling */
.book-meeting {
    flex: 1; 
    display: flex;
    justify-content: flex-end; 
    
}


.text-overlay h1 {
    font-size: 80px;
}








/* BOX2 */
/* box-2 styling */
.box-2 {
    position: relative;
    background-image: url('images/topbillede.jpg'); 
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
    display: flex; 
    align-items: center; 
    justify-content: flex-start; 
}
/* Text styling */
.text-overlay p {   
    font-size: 24px;
    margin-bottom: 30px;
}

/* btn2 styling */
.btn2 {
    background-color: #ffffff; 
    color: #000000; 
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 10px;
}

/* BOX3 */
/* box-3 styling */
.box-3 {
    display: grid;
    place-items: center;
    height: 600px; 
    text-align: center; 
}
/* text styling */
.text-content p {
    margin-bottom: 30px;
    padding-bottom: 20px;
    max-width: 850px;
}

/* BOX4 */
/* Box 4 styling */
.box-4 {
    background-color: #ffffff; 
    display: flex;
    align-items: center; 
}
/* left-side styling */ 
.box-4 .left-side img {
    padding: 10% 5% 10% 0%;
    width: 100%; 
    max-width: auto; 
    height: auto; 
}
/* right-side styling */
.box-4 .right-side {
    padding: 10% 0 10% 0;
    
}
.box-4 .right-side h1 {
    margin-bottom: 20px;
}
.box-4 .right-side p {
    margin-bottom: 30px; 
}
p br:nth-of-type(3) {
    content: "";           
    display: block;        
    margin-top: 20px;     
}

/* BOX5 */
/* box-5 styling */
.box-5 .image-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch; 
    max-height: 800px;
}
/* image styling */
.box-5 .image-item {
    position: relative;
    width: 33.33%; 
    display: flex;
    justify-content: center;
    padding: 0; 
}
.box-5 .image-item img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
    display: block; 
}
/* text styling */
.box-5 .image-item .title {
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 66px; 
    font-family: 'DM Serif Display', sans-serif;
    color: #ffffff; 
}

/* BOX6 */
/* box-6 styling */
.box-6 {
    background-color: #ffffff;
    display: flex;
    align-items: center; 
}
/* left-side styling */
.box-6 p {
    font-size: 16px;
    line-height: 1.1;
    margin-bottom: 30px;
}
.box-6 .left-side {
    width: 50%; 
    padding-right: 20px; 
    
}
/* right-side styling */
.box-6 .left-side {
    padding: 10% 0 10% 0;
    
}


/* right-side styling */
.box-6 .right-side {
    padding: 10% 0% 10% 5%;
    width: 50%; 
    max-width: auto;
    height: auto; 
}
.box-6 .right-side img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
}

/* BOX7 */
/* box-7 styling */
.box-7 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
/* left-side styling */
.box-7 .left-side {
    width: 50%; 
    padding: 10% 5% 10% 0%;
      
}
.box-7 .left-side h1 {
    font-size: 86px;
}
/* right styling */
.box-7 .right-side {
    width: 50%; 
}
.box-7 .kontakt {
    max-width: fit-content;
    display: flex;
    align-items: flex-end;
}
.kontaktdiv {
    display: flex;
    justify-content: end;
}
.box-7 form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.box-7 form textarea, input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
textarea {
    height: 100px; 
    resize: vertical; 
}

/* BOX8 */
/* Box 8: Final Box with 4 Columns */
.box-8 {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #000000; 
    color: #ffffff; 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}
.box-8 .column {
    padding: 5px;
    width: 25%; 
    margin-bottom: 20px; 
    
}
.box-8 h3, .box-8 h4 {
    font-weight: 400;
    font-family: 'DM Serif Display', sans-serif;
    font-size: 32px;
    margin-bottom: 10px;
}
/* icon styling */
.box-8 .social-icons img {
    width: 25px; 
    margin-right: 10px;
    margin-top: 20px;
    vertical-align: middle; 
}

@media (max-width: 1024px) {
    
    .logo img {
        max-width: 100px; /* Endnu mindre logo til små skærme */
    }

    .menu a {
        font-size: 12px; /* Mindre skrifttype til links */
    }

    .book-meeting .btn {
        font-size: 14px;
        padding: 10px 20px;
    }

    .text-overlay h1 {
        font-size: 64px; /* Mindre overskrift til medium skærme */
    }

    .text-overlay p {
        font-size: 20px; /* Mindre brødtekst */
    }

    .text-overlay h1 {
        font-size: 68px;
    }

    .box-5 .image-item .title {
      
        font-size: 50px; 
      
    }


    .box-8 h3 {
        font-size: 22px;
    }

    .box-8 p {
        font-size: 10px;
    }

    .box-8 ul {
        font-size: 10px;
    }
   

}


@media (max-width: 768px) {
    .box-1 {
        height: 140px;
   
    }
    .logo img {
        max-width: 80px; /* Endnu mindre logo til små skærme */
    }

    .menu a {
        font-size: 10px; /* Mindre skrifttype til links */
    }

    .book-meeting .btn {
        font-size: 12px;
        padding: 8px 16px;
    }

    h1{
        font-size: 44px;
    }

    .box-5 .image-item .title {
      
        font-size: 30px; 
      
    }

    .box-7 .left-side h1 {
        font-size: 50px;
    }

    .box-8 h3 {
        font-size: 18px;
    }

    .box-8 p {
        font-size: 8px;
    }

    .box-8 ul {
        font-size: 8px;
    }

  


}

@media (max-width: 480px) {
   
    .box-1 {
        height: 200px;
   
    }
    .logo img {
        max-width: 80px; /* Endnu mindre logo til små skærme */
    }

    .menu a {
        font-size: 12px; /* Mindre skrifttype til links */
    }

    .book-meeting .btn {
        font-size: 12px;
        padding: 8px 16px;
    }

    h1{
        font-size: 30px;
    }

    p{
        font-size: 14px
    }
    
    .text-overlay h1 {
        font-size: 60px;
    }

    .box-4 .left-side img {
        display: none;
    }

    .box-5 .image-item .title {
      
        font-size: 20px; 
      
    }

    .box-6 .right-side  {
        display: none;
    }

    .box-6 .left-side {
        width: 100%; 
        
        
    }

    .box-7 .left-side h1 {
        font-size: 40px;
    }

    .box-7 .left-side p {
        font-size: 18px;
    }

    .box-8 h3 {
        font-size: 12px;
    }

    .box-8 p {
        font-size: 6px;
    }

    .box-8 ul {
        font-size: 6px;
    }
}




